@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.hook {
    font-family: "Alumni Sans", sans-serif;
}

.btn {
    font-family: "Alegreya Sans SC", sans-serif;
    letter-spacing: 4px;
}

.btn-style700 {
    --btn-color: white;
    --btn-hover-color: white;
    position: relative;
    border-color: --btn-color;
    color: --btn-color;
    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      border-color: --btn-hover-color;
      border-radius: --border-radius;
      border-style: solid;
      transition: all 0.35s;
      content: "";
      z-index: 1;
    }
    &::before {
      width: 0;
      height: 100%;
      border-width: 1px 0 1px 0;
    }
    &::after {
      width: 100%;
      height: 0;
      border-width: 0 1px 0 1px;
    }
    &:hover {
      border-color: --btn-hover-color;
      color: --btn-hover-color;
      &::before {
        width: 100%;
        border-width: 1px 0 1px 0;
      }
      &::after {
        height: 100%;
        border-width: 0 1px 0 1px;
      }
    }
}